body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    margin: auto;
    padding: 20px;
    border: 2px solid #ecf0f1;
    border-radius: 10px;
    width: 60%;
    background-color: #34495e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#header p {
    font-size: 1.2em;
}

.player-name {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

#player-selection {
    margin: 20px 0;
}

#player-selection label {
    font-size: 1.2em;
    margin-right: 10px;
}

#num-players {
    padding: 10px;
    border: 2px solid #1abc9c;
    border-radius: 5px;
    background-color: #16a085;
    color: #ecf0f1;
    font-size: 1em;
    cursor: pointer;
}

#num-players option {
    background-color: #34495e;
    color: #ecf0f1;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #16a085;
}

.hidden {
    display: none;
}

.correct {
    background-color: #2ecc71 !important;
}

.wrong {
    background-color: #e74c3c !important;
}

#question-container {
    margin: 20px 0;
}

#answer-buttons .btn {
    display: block;
    width: 100%;
    margin: 5px 0;
}

#counter-container p {
    font-size: 1.2em;
}

#result-container {
    margin: 20px 0;
}

#scoreboard p {
    font-size: 1.2em;
    margin: 5px 0;
}

#answers-with-explanation .question-with-explanation {
    margin: 10px 0;
    background-color: #3b5998;
    padding: 10px;
    border-radius: 5px;
}

#answers-with-explanation h3 {
    font-size: 1.4em;
}

#answers-with-explanation p {
    font-size: 1.2em;
}
