
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20%;
}

.table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: black;
}

.paddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: white;
}

#leftPaddle {
    left: 0;
}

#rightPaddle {
    right: 0;
}

.ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

/* Estilos para a mesa de ping pong */
.table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: black;
    margin: 0 auto;
}

/* Estilos para as raquetes */
.paddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: white;
}

#leftPaddle {
    left: 0;
}

#rightPaddle {
    right: 0;
}

/* Estilos para a mesa de ping pong */
.table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: black;
    margin: 0 auto;
}

/* Estilos para as raquetes */
.paddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: white;
}

#leftPaddle {
    left: 0;
}

#rightPaddle {
    right: 0;
}

/* Estilos para a mesa de ping pong */
.table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: rgb(8, 8, 117);
    margin: 0 auto;
    border: 3px solid #fff;
}

/* Estilos para as raquetes */
.paddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: rgb(185, 3, 3);
}

#leftPaddle {
    left: 0;
}

#rightPaddle {
    right: 0;
}

/* Estilos para os botões de controle */
.controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.control-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up-button {
    background-color: #55a5ff;
    font-size: 1.4em;
}

.down-button {
    background-color: #007BFF;
    font-size: 1.4em;
}

.control-button button {
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    transition: background-color 0.3s, transform 0.1s;
}

.control-button button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

