@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*body*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*header*/
header {
    color: #fff;
    padding: 20px;
    text-align: center;
    background: #004869;
}

/*logo*/
div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*ul*/
ul.ul-link{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
}

/*nav link*/
nav{
    display: flex;
    justify-content: center;
}

/*link nav*/
a.link{
    color: #fff;
    text-decoration: none;
}

/*h1*/
h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

p, article > ul > li, article > ol > li{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

/*article*/
article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
/*paragrafos*/

p{
    text-align: justify;
}

/*section*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
/*image principal do section*/
.image-principal{
    width: 100%;
    height: 500px;
    background: url("https://lucascmagno.github.io/projetos/images/logo-engenhariadesoftware.svg") no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 30px;
}

/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333;
    color: #fff;
    padding: 20px;
}
/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    header {
        padding: 10px;
    }

}

