@charset "utf-8";
body{
    margin: 0;
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #FFFFFF;
}

.botao {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #031a81;
    font-size: .9em;
    border-radius: 3px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #031a81;
}

nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/pc2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1 { 
    color: #FFFFFF;
}

header p {
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #031a81;
    color: #FFFFFF  ;
}

#sobre h2 {
    color: #FFFFFF;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {

    background-color: #f1f1f1;
    color: #1c1c1c;

}

#servicos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#servicos > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    gap: 30px;
}

#container > div {
    background-color: #151515;
}

#container > div > p {
    color: #9ca3af;
}

.projetos-content{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
}

.projetos-content > a{
    text-decoration: none;
    color: #00a3ff;
    font-size: 1.2em;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #031a81;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: #00FFFF;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%
    }

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px
    }

    #serviços {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #serviçosn h2 {
        text-align: center;
        width: 100%;
    }

    #serviços div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    #fotos { 
        flex-direction: row;
        flex-wrap: wrap;
    }

    #fotos h2{
        width: 100px;
        text-align: center;
    }

    #fotos img {

        width: 33.3333333%;

    }

    #contato {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2, #contato p {

        width: 100%;

    }

}